ipython
ipykernel
pandas
grpcio-tools
python-dotenv
asyncio
sqlalchemy
flask
requests
duckdb
flask_restful
aiohttp==3.8.1
sql-metadata
flask-jsonpify
simplejson
pyarrow
fastparquet
sqlparse
chipmunkdb-python-client
asynctest
coverage